.transactions-container {
  max-height: 100%;
  overflow-y: auto; 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  background-color: var(--successGreen); 
}

.transactions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transaction-item {
  border-bottom: 1px solid #ddd;
  padding: 20px; 
  font-size: 18px; 
  background-color: #fff;
  border-radius: 8px; 
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.transaction-item:last-child {
  border-bottom: none;
}

.transaction-item div {
  margin-bottom: 10px;
}

.transactions-container p {
  text-align: center;
}
